%footer	
	= link_to 'Про нас',   :controller => :home, :action => :about_us
	%span.separator _|_
	= link_to 'Звротній зв’язок',  :controller => :feedbacks, :action => :index
	%span.separator _|_
	= link_to 'Партнери',  :controller => :home, :action => :partners