
<div>
    <p>
        <span>
            <b> Сайт управління компетенціями </b> є унікальним сервісом як мінімум в масштабах нашої країни. Його метою є допомога ще не досвідченим молодим людям, які або тільки починають свій професійний шлях, або вже почали, але ще не знайшли свого місця. Як ми можемо допомогти?
        </span>
    </p>
<p ><span>&nbsp;</span></p>
    <p>
        <span>
            По-перше, ми даємо можливість нашим користувачам глибше та більш об’єктивно подивитися на себе: на свої особисті якості, на свої цілі та на свої потреби. По-друге, наш сервіс відкриває двері до ринку ІТ-професій, які існують на теренах нашої держави в структурованому та інтуїтивно зрозумілому вигляді, що дає можливість чітко розуміти, які якості, навички та знання варто здобувати, щоб стати гарним та потрібним спеціалістом у тій чи іншій галузі інформаційних технологій. А по-третє, наша система контролю професійної компетентності дає чудову нагоду не те, що студентам (чи будь-кому іншому, хто глибоко цікавиться певною предметною областю в галузі ІТ), а навіть спеціалістам оновити, поповнити чи навіть замінити колишні знання на такі, які
            є актуальними зараз, а головне, - які будуть актуальними в майбутньому. 
        </span>
    </p>

    <table>
        <tr>
            <td><%= image_tag("ira.jpg", size:'170x250') %></td>
            <td><%= image_tag("vitalik.jpg", size:'170x250') %></td>
            
        </tr>
        <tr>
            <td>Логвінова І.</td>
            <td>Домініченко В.</td>
        </tr>
    </table>

    <p>
        <span>
            Якщо у Вас виникнуть якісь питання чи пропозиції щодо нашого проекту, то ми залюбки почуємо Вашу думку. Зв’язатися з нами Ви можете, надіславши нам електронного листа за адресою: <a href="mailto:domlogirvit@gmail.com">domlogirvit@gmail.com</a>
        </span>
    </p>

    <p><span>&nbsp;</span></p>
	<p><span>&nbsp;</span></p>

    <p>
        <i>
            <span>
                Проект розроблено на замовлення доцента кафедри АСОІУ факультету інформатики та обчислювальної техніки НТУУ «КПІ» Т.В. Ковалюк.
            </span>
        </i>
    </p>

    <p>
        <i>
            <span>
                Виконавцями є студенти ІІ курсу кафедри АСОІУ факультету інформатики та обчислювальної техніки НТУУ «КПІ» Логвінова І. та Домініченко В.
            </span>
        </i>
    </p>
    
</div>