<div>
	<h3><i>Керування компетенціями студентів ІТ-професій України</i></h3style>
    <br />
    <h2>Вітаємо Вас на нашому сайті!</h2>
    <br /><br />
    <h3>У нас ви можете знайти:</h3>
    <h3>
        <ul>
            <li>Найбільшу енциклопедію ІТ-професій України</li>
            <li>Методичні вказівки з вибору напрямку для професійного розвитку</li>
            <li>Всеохоплюючі тести на різноманітні особистісні якості</li>
            <li>Тести на відповідність Ваших знань, умінь та навичок обраній професії</li>
            <li>Індивідуальні дорожні карти для всіх професій, а також безпосередньо для Вас з урахуванням Вашого поточного рівня</li>
            <li>Та багато інших матеріалів, які можуть значною мірою збільшити ефективність Вашого професійного розвитку</li>
        </ul>
    </h3>
</div>