%div.whole
    %div.left
        %h3
        %i Керування компетенціями студентів ІТ-професій України
        %br/
        %h2 Вітаємо Вас на нашому сайті!
        = image_tag "logo1", size: '250x250', :style=>"margin:-3px 20px 0 0"
        %br/
        %h3 У нас ви можете знайти:
        %h3
            %ul{:style => "text-align:center; list-style-type: none;"}
                %li Найбільшу енциклопедію ІТ-професій України
                %li Методичні вказівки з вибору напрямку для професійного розвитку
                %li Всеохоплюючі тести на різноманітні особистісні якості
                %li Тести на відповідність Ваших знань, умінь та навичок обраній професії
                %li Індивідуальні дорожні карти для всіх професій, а також безпосередньо для Вас з урахуванням Вашого поточного рівня
                %li Та багато інших матеріалів, які можуть значною мірою збільшити ефективність Вашого професійного 
    %div.right
        %a{:href => "encyclopedia", :title => "Перегляд енциклопедії"}
            = image_tag "right"