/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */
 div.owl-carousel div {
 	text-align: center;
 }
 .main > * {
 	margin-left: 15px;
 	margin-right: 15px;
 	
 }
 .footing { 
 	margin:0 auto;
 }
 footer {
 	bottom: 0;
/* 	position: absolute;
*/ 	background: rgba(240,240,240,1);
	border-radius: 10px 10px 0 0 ;
	padding: 10px 0;	
	width:815px;
	margin: 0 auto;
	border-bottom: 5px solid #8BA1F1;
    border-top: 5px solid #4161BB;
    border-left: 3px solid #C6C9DE;
    border-right: 3px solid #C6C9DE;
}

 body {
 	
 	position: relative;
 	margin: 0;
 }
 .main {
 	width:791px;
 	margin:0 auto;
 	background: white;
 	min-height: 83%;
 	padding-bottom:8px;
 	border-left: 2px solid #aaf;
 	border-right: 2px solid #aaf;
 	box-shadow: aliceblue 0 0 20px 14px;
 }
 .main > * {
 	margin-top:0;
 	padding-left: 20px;
 	padding-right: 20px;
 }
.error_message {
	color: rgba(255,0,0,0.7);
}

.error_block {
	margin: 0 0 0 -20px;
}
.error_input {
	border: 2px solid red;
}
.form_signup div {
	padding-top: 17px;
}
div.field_with_errors {
	padding-top: 0;
}
.footing, .form_feedback, .pagination {
	margin: 0 auto;
	display: table;
}
.pagination * {
	margin: 0 4px;
}
table.feddb_table {
	border-collapse: collapse;
}
table.feddb_table .creation_time_feedb {
	width:130px
}
table.feddb_table th {
	width: 70px;
}
table.feddb_table tr:nth-child(6n+1), 
table.feddb_table tr:nth-child(6n+2),
table.feddb_table tr:nth-child(6n+3) {
	background: #b8d1f3;
}
span.separator {
	display: inline-block;
	width:1px;
	height: 16px;
	background: #000;
	border: 1px solid gray;
	margin:0 4px -5px 4px;
}
table.partners {
	border-collapse: collapse;
	cursor: default;
	box-sizing: border-box;
}

table.partners tr:nth-child(odd){ 
	background: #b8d1f3;
}
.crop_partners {
	width: 135px;
    height: 100%;
    overflow: hidden;
    margin-right: 50px;
}

table.partners tr:hover h1{
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
  z-index: 40;
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

a {
	text-decoration: none;
	color: rgb(185, 130, 47);
}
a:visited {
 	color: rgb(185, 130, 47);
}
header {
	background: rgba(240,240,240,1);
	border-radius: 0 0 10px 10px;
	height: 50px;
	width:815px;
	margin: 0 auto;
	border-top: 5px solid #8BA1F1;
    border-bottom: 5px solid #4161BB;
    border-left: 3px solid #C6C9DE;
    border-right: 3px solid #C6C9DE;
    z-index: 3;
}


#menu {
	height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
#menu table {
	border-collapse: collapse;
	height: 40px!important;
}
#menu table tbody {
	overflow: hidden;
	height: 50px!important;;
}
#menu tr
{
	margin-top: -6px;
	height: 50px;
}
#menu td.link:hover {
	background: white;
}
#menu a {
	height: 100%;
	padding: 15px 10px;
}
h1, h2, h3 {
	color: rgb(83, 125, 255);
}