// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whole {
	min-height:74%; 
	padding:0;
}
.left {
	text-align:center; 
	width:71%; 
	float:left;
}
.right {
    width: 20%;
    float: right;
    background: rgba(230, 210, 230, 0.1);
}
.right:hover {
	background:rgba(230,210,230,.5);
}
.right a {

    display: block;
    box-shadow: inset #81C3C3 0px 0px 23px 0px;
}
.right a img {
	padding: 182px 15px;
}