// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whole {
	min-height:74%; 
	padding:0;
}
.left {
	text-align:center; 
	width:71%; 
	float:left;
}
.right {
    width: 23%;
    float: right;
    background: rgba(230, 210, 230, 0.1);
    box-shadow: inset #81C3C3 0px 0px 23px 0px;
    border-radius: 70px;
    margin: 4% 0;
}
.right:hover {
	background:rgba(30,200,100,.2);
}
.right a {
    display: block;
    box-shadow: #81C40F 0px 0px 65px 0px;
    border-radius: 70px;
}
.right a img {
	padding: 182px 15px;
}